/* Dropdown Button */
.dropbtn {
    background-color: #FEC934;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 25%;
    width: 80%;
    height: 80%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: flex;
    width: 150px;
    height: 75px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9EA3B0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-top: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    height: 50px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

html {
    width: 100%;
    max-width: 1600px;
    display: flex;
    font-family: "Open Sans", Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Domine", Georgia, serif;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: 100px;
    background-color: #9EA3B0;
    grid-column: 1/-1;
}

header img {
    border-radius: 15px;
    justify-self: center;
    align-self: center;
    height: 95%;
    width: auto;
}

header h1 {
    margin-left: 10%;
    align-self: center;
    font-size: 3em;
}

header nav {
    width: 80%;
    align-self: center;
    text-align: end;
    display: flex;
    justify-self: end;
    justify-content: space-around;
    margin-right: 5%;
}

header nav a {
    font-size: 1.25em;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer {
    border: solid 1px transparent;
    background-color: #9EA3B0;
    padding-top: 0px;
    margin-top: 0px;
    grid-column: 1/-1;
}

footer nav {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 75px;
    text-align: center;
    align-items: center;
}

footer nav a {
    color: black;
}

#site-link {
    grid-column: 1/2;
}

footer nav section {
    grid-column: 2/-1;
    display: flex;
    justify-content: space-around;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.polaris {
    grid-column: 1/2;
    background-color: #15616D;
}

.polaris img {
    border-right: black solid 2px;
}

.polaris h3 {
    border-right: black solid 2px;
    margin-top: -4px;
}

.skidoo {
    grid-column: 2/3;
    background-color: #15616D;
}

.skidoo img {
    border-left: black solid 2px;
}

.skidoo h3 {
    border-left: solid black 2px;
    margin-top: -4px;
}

.logo {
    width: 100%;
    height: 150px;
    border-bottom: black solid 4px;
    box-sizing: border-box;
    margin-bottom: 0;
}

.descript-header {
    margin: 0;
    padding: 0;
    font-size: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: black solid 4px;
    border-top: 0;
    box-sizing: border-box;
}

.sled-info {
    width: 200%;
    display: grid;
    height: auto;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-rows: repeat(6, 100px);
    margin: 0;
    padding: 0;
    border-bottom: black solid 4px;
    background-color: #15616D;
}

.sled-info h4 {
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: black solid 4px;
    box-sizing: border-box;
    font-size: 2em;
}

.sled-info h4:nth-of-type(1) {
    grid-row: 1/2;
    border-bottom: black solid 4px;
}

.sled-info h4:nth-of-type(2) {
    grid-row: 2/3;
    border-bottom: black solid 4px;
}

.sled-info h4:nth-of-type(3) {
    grid-row: 3/4;
    border-bottom: black solid 4px;
}

.sled-info h4:nth-of-type(4) {
    grid-row: 4/5;
    border-bottom: black solid 4px;
}

.sled-info h4:nth-of-type(5) {
    grid-row: 5/6;
    border-bottom: black solid 4px;
}

.sled-info h4:nth-of-type(6) {
    grid-row: 6/7;
}

.polaris-info {
    grid-column: 2/3;
}

.polaris-info h6 {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: larger;
    border-right: black solid 2px;
    border-bottom: black solid 4px;
}

.polaris-info h6:nth-of-type(1) {
    grid-row: 1/2;
}

.polaris-info h6:nth-of-type(2) {
    grid-row: 2/3;
}

.polaris-info h6:nth-of-type(3) {
    grid-row: 3/4;
}

.polaris-info h6:nth-of-type(4) {
    grid-row: 4/5;
}

.polaris-info h6:nth-of-type(5) {
    grid-row: 5/6;
}

.polaris-info h6:nth-of-type(6) {
    grid-row: 6/7;
    border-bottom: none;
}

.skidoo-info {
    grid-column: 3/4;
}

.skidoo-info h6 {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: larger;
    border-left: black solid 2px;
    border-bottom: black solid 4px;
}

.skidoo-info h6:nth-of-type(1) {
    grid-row: 1/2;
}

.skidoo-info h6:nth-of-type(2) {
    grid-row: 2/3;
}

.skidoo-info h6:nth-of-type(3) {
    grid-row: 3/4;
}

.skidoo-info h6:nth-of-type(4) {
    grid-row: 4/5;
}

.skidoo-info h6:nth-of-type(5) {
    grid-row: 5/6;
}

.skidoo-info h6:nth-of-type(6) {
    grid-row: 6/7;
    border-bottom: none;
}